.line{
  display: flex;
  padding: 0.5rem 0;
  cursor: pointer;
  column-gap: .4rem;
  border-bottom: 1px solid #AAA;
}

.icon{
  align-self: center;
}

.name{
  flex-grow: 1;
  align-self: center;
}

.view{
  align-self: center;
}

.qr{
  display: inline-block;
  text-decoration: none;
}
