.line{
  display: flex;
  border-bottom: 1px solid red;
  padding-bottom: 0.3rem;
  cursor: pointer;
}

.name{
  flex-grow: 1;
}

.view{
  align-self: center;
}

.qr{
  border: 1px solid #AAA;
  display: inline-block;
  border-radius: 100%;
  text-decoration: none;
  padding: 0.2rem;
  color: #222;
}
