.line{
  display: flex;
  padding: 0.5rem 0;
  cursor: pointer;
  column-gap: .7rem;
  border-bottom: 1px solid #AAA;
}

.icon{
  align-self: center;
}

.name{
  flex-grow: 1;
  align-self: center;
}

.view{
  align-self: center;
}

.qr{
  border: 1px solid #AAA;
  display: inline-block;
  border-radius: 100%;
  text-decoration: none;
  padding: 0.2rem;
}
