<div class="panel">
  <h1 appIntl="list-title">Your certificates</h1>
  <div *ngIf="(certificates$ | async) as certs; else nocerts">
    <app-cert-line *ngFor="let c of certs" [cert]='c'></app-cert-line>
  </div>
  <ng-template #nocerts>
    <p class="instructions" appIntl="list-instructions">
      You haven't imported any certificate yet.
      Click on the button under to scan a QR Code.
    </p>
  </ng-template>

  <button [routerLink]="'/new'">
    <span class="ti ti-qrcode"></span>
    <span appIntl="list-action-import">Import a new certificate</span>
  </button>
</div>
<div class="panel" *ngIf="canInstall$ |async">
  <p appIntl="list-install-text">
    You can also add the application to your homepage!
    You'll then be able to open it even without an internet connection.
  </p>
  <button (click)="Install()">
    <span class="ti ti-home"></span>
    <span appIntl="list-action-install">Add to homepage</span>
  </button>
</div>
