<div class="panel">
  <h1>Import a certificate</h1>
  <p class="instructions">Use the viewer below to scan the QR Code of your certificate.</p>
  <div class="scanner">
    <div *ngIf="displayMesg !== ''" class="information">
      <span class="ti ti-camera"></span><br>
      <ng-container [ngSwitch]="displayMesg">
        <p *ngSwitchCase="'permission-pending'">
          Please authorize the application to access the camera.
        </p>
        <p *ngSwitchCase="'permission-denied'">
          You have denied the application to access the camera.
          <button (click)="RetryPermissions()">
            <span class="ti ti-refresh"></span>
            Retry
          </button>
        </p>
        <p *ngSwitchCase="'camera-loading'">Camera is loading</p>
      </ng-container>
    </div>
    <zxing-scanner
      [(device)]="selectedCamera"
      [ngClass]="{'hidden': displayMesg !== ''}"
      [torch]="torchEnabled"
      (torchCompatible)="OnTorchCompatible($event)"
      (camerasFound)="OnCamerasFound($event)"
      (permissionResponse)="OnPermissionResponse($event)"
      (scanSuccess)="OnCertificateFound($event)"
      [formats]="allowedFormats"
    ></zxing-scanner>
  </div>
  <div *ngIf="notacert">
    <p class="warning">
      <span class="ti ti-alert-circle"></span>
      <span>This QR Code is not a valid Digital COVID Certificate. Please retry with another.</span>
    </p>
  </div>
  <div class="actions">
    <button *ngIf="hasMultipleCameras" (click)="SwitchCamera()">
      <span class="ti ti-refresh"></span>&nbsp;
      <span>Switch camera</span>
    </button>
    <button *ngIf="hasTorch" (click)="ToggleTorch()">
      <span class="ti ti-bulb"></span>&nbsp;
      <span>Toggle torch</span>
    </button>
  </div>
  <div *ngIf="displayTest">
    <h2>Test buttons</h2>
    <p>
      <a class="btn" (click)="Test(test.label)" *ngFor="let test of testCerts" style="margin-bottom: 0.2rem;">{{test.label}}</a>
    </p>
  </div>
</div>
