.scanner {
  display: flex;
  border-radius: .7rem;
  min-height: 70%;
  width: 100%;
  position: relative;
  background: rgba(0,0,0,.35);
  align-items: center;
  justify-items: center;
}

.scanner > div {
  flex: 1;
  text-align: center;
  padding: 2rem;
}

.information p {
  text-align: center;
}

.scanner .information > .ti{
  font-size: 3rem;
}

.hidden{
  display: none;
}

:host zxing-scanner::ng-deep{
  object-fit: contain;
}

:host zxing-scanner::ng-deep video {
  border-radius: .7rem;
  object-fit: contain;
}

.actions{
  margin-top: 1rem;
  display: flex;
  align-items: center;
  column-gap: 0.25rem;

  button{
    width: 50%;
  }

  button:first-of-type{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  button:first-of-type:last-child{
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
  }
  button:first-of-type + button{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
