<div class="panel">
  <h1 appIntl="view-title">Certificate</h1>
  <div *ngIf="cert; else loading">
    <h2>
      <span class="ti ti-qrcode"></span>
      <span>QR Code</span>
    </h2>
    <app-qrcode [data]="cert.qr_content"></app-qrcode>
    <br>
    <app-cert-details [cert]="cert" class="details"></app-cert-details>
    <div class="actions">
      <button class="cancel" (click)="remove()">
        <span class="ti ti-trash"></span>
        <span appIntl="view-action-remove" *ngIf="removeStep === 0">Remove certificate</span>
        <span appIntl="view-action-remove-confirm" *ngIf="removeStep === 1">Tap again to confirm</span>
      </button>
    </div>
  </div>
  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>
</div>
