<div class="panel">
  <h1 appIntl="view-title">Certificate</h1>
  <div *ngIf="(certificate$ | async) as cert; else loading">
    <h2>
      <span class="ti ti-qrcode"></span>
      <span>QR Code</span>
    </h2>
    <app-qrcode [data]="cert.qr_content"></app-qrcode>
    <br>
    <app-cert-details [cert]="cert" class="details"></app-cert-details>
    <div class="actions">
      <button class="cancel" (click)="remove(cert.id)">
        <span class="ti ti-trash"></span>
        <span appIntl="view-action-remove" *ngIf="removeStep === 0">Remove certificate</span>
        <span appIntl="view-action-remove-confirm" *ngIf="removeStep === 1">Tap again to confirm</span>
      </button>
    </div>
  </div>
  <ng-template #loading>
    <ng-container *ngIf="!inError">
      <p appIntl="view-loading-label">Loading certificate...</p>
    </ng-container>
    <ng-container *ngIf="inError">
      <p class="warning" appIntl="view-error-label">
        Error while loading your certificate
      </p>
      <button routerLink="/list">
        <span class="ti ti-chevron-left"></span>
        <span appIntl="view-error-back">Back to list</span>
      </button>
    </ng-container>
  </ng-template>
</div>
