header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}

header a {
  padding: 0 0.2rem;
  text-decoration: none;
}

header .ti{
  font-size: 2rem;
}

header div{
  flex: 1;
}

header .back{
  text-align: left;
}
header .settings{
  text-align: right;
  padding-right: 0.4rem;
}

.icon {
  max-width: 3rem;
}
