<header>
  <div class="back">
    <a *ngIf="displayBack$ | async" (click)="goBack()">
      <span class="ti ti-chevron-left"></span>
    </a>
  </div>
  <div class="logo">
    <a [routerLink]="homeUrl$ | async" title="Go to home">
      <img src="assets/icon.svg" class="icon" title="Covid Certificate"/>
    </a>
  </div>
  <div class="settings">
    <a routerLink="/settings" *ngIf="displaySettings$ | async">
      <span class="ti ti-settings"></span>
    </a>
  </div>
</header>
<router-outlet></router-outlet>
<div class="panel" *ngIf="hasNewUpdate$ | async">
  <p>
    <span class="ti ti-refresh"></span>
    <span appIntl="app-update-available">An update is available. Click on the button to activate it.</span>
  </p>
  <a (click)="updateApp()" class="btn" appIntl="app-update-reload">Reload</a>
</div>
