header {
  display: flex;
  align-items: center;
}

header a {
  padding: 0 0.2rem;
}

header .ti{
  font-size: 2rem;
}

header div{
  flex: 1;
}

header .back{
  text-align: left;
}
header .lang{
  text-align: right;
}

.icon {
  max-width: 3rem;
}
