.qrcode {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: .4rem;
  background: white;
  padding: 0.5rem;
}


:host qr-code::ng-deep img {
  object-fit: contain;
  width: 100%;
  height: auto;
}
