<div class="panel">
  <h1>Your certificates</h1>
  <div *ngIf="(certificates$ | async) as certs; else nocerts">
    <app-cert-line *ngFor="let c of certs" [cert]='c'></app-cert-line>
  </div>
  <ng-template #nocerts>
    <p class="instructions">
      You haven't imported any certificate yet.
      Click on the button under to scan a QR Code.
    </p>
  </ng-template>

  <button [routerLink]="'/new'">
    <span class="ti ti-qrcode"></span>
    Import a new certificate
  </button>
</div>
<div class="panel" *ngIf="canInstall$ |async">
  <p>You can also add the application to your homepage!</p>
  <button (click)="Install()">
    <span class="ti ti-home"></span>
    Add to homepage
  </button>
</div>
