<div class="panel">
  <h1 appIntl="home-title">EU Digital COVID Certificate</h1>
  <p class="subtitle" appIntl="home-tagline">Import and store easily your EU COVID Certificates on your smartphone.</p>
  <p>
    <ng-container *ngIf="hasAnyCert; else nocerts">
      <a [routerLink]="['/list']" class="btn">
        <span appIntl="home-action-list">See your certificates</span>
        <span class="ti ti-chevron-right"></span>
      </a>
    </ng-container>
    <ng-template #nocerts>
      <a [routerLink]="['/new']" class="btn">
        <span class="ti ti-qrcode"></span>
        <span appIntl="home-action-import">Import your first certificate</span>
      </a>
    </ng-template>
  </p>
</div>
<div class="panel">
  <p appIntl="home-what-application">
    This website is a web application that allows you to <strong>manage and show</strong>
    your Digital EU COVID certificates (<em>DCC</em>), using your device's camera to import
    them.
  </p>
  <p appIntl="home-what-offline">
    This application can even be installed on your homepage, so you can <strong>use it even
    while offline</strong>.
  </p>
  <p appIntl="home-what-local">
    The certificates are <strong>safely stored locally on your device</strong>. No contact with
    any online service is made during use.</p>
</div>
<div class="panel">
  <p appIntl="home-dcc-list-types">
    An EU Digital COVID Certificate is a digital proof that a person has either:
  </p>
  <ul class="types">
    <li>
      <span class="ti ti-vaccine"></span>&nbsp;
      <span appIntl="home-dcc-type-vaccine">been vaccinated against COVID-19</span>
    </li>
    <li>
      <span class="ti ti-test-pipe"></span>&nbsp;
      <span appIntl="home-dcc-type-test">received a negative test result or</span>
    </li>
    <li>
      <span class="ti ti-virus-off"></span>&nbsp;
      <span appIntl="home-dcc-type-recovery">recovered from COVID-19</span>
    </li>
  </ul>
  <p appIntl="home-dcc-list-feature">
    Key features of the certificates are:
  </p>
  <ul class="features">
    <li>
      <span class="ti ti-file-code"></span>&nbsp;
      <span appIntl="home-dcc-feat-digital">Digital and/or paper format</span>
    </li>
    <li>
      <span class="ti ti-qrcode"></span>&nbsp;
      <span appIntl="home-dcc-feat-qrcode">with QR code</span>
    </li>
    <li>
      <span class="ti ti-cash-banknote-off"></span>&nbsp;
      <span appIntl="home-dcc-feat-free">free of charge</span>
    </li>
    <li>
      <span class="ti ti-language"></span>&nbsp;
      <span appIntl="home-dcc-feat-lang">in national language and English</span>
    </li>
    <li>
      <span class="ti ti-shield-check"></span>&nbsp;
      <span appIntl="home-dcc-feat-safe">safe and secure</span>
    </li>
    <li>
      <span class="ti ti-map-2"></span>&nbsp;
      <span appIntl="home-dcc-feat-valid">valid in all EU countries</span>
    </li>
  </ul>
  <p appIntl="home-dcc-more-info">
    More information is available on
    <a href="https://ec.europa.eu/info/live-work-travel-eu/coronavirus-response/safe-covid-19-vaccines-europeans/eu-digital-covid-certificate_en" target="_blank">
      the European Commission website
    </a>.
  </p>
</div>
<div class="panel">
  <p appIntl="home-why-bloated-apps">
    This application was developed because in some countries, the official application
    is either bloated with other features, asking far too many permissions to run, or even
    not available outside Android and iOS.
  </p>
  <p appIntl="home-why-increased-usage">
    As COVID-19 is still looming around, and its variants are getting stronger and stronger,
    it seems inevitable that governments will rely more and more on these certificates
    to avoid setting up lockdowns again.
  </p>
  <p appIntl="home-why-for-everyone">
    This application is meant to be usable on any browser and device, and offer to anyone
    a simple and quick way to manage their certificates. Nothing more.
  </p>
</div>
<div class="panel">
  <h2>
    <span class="ti ti-brand-open-source"></span>
    <span appIntl="home-foss-title">Open source</span>
  </h2>
  <p appIntl="home-foss-desc">
    Because health information is sacred and private, this application has its <strong>source code available</strong>
    for anyone to see and audit. As a simple web application without any server component, it can
    be self-hosted for maximum privacy.
  </p>
  <p appIntl="home-foss-github">
    The source code is licensed under the <strong>MIT license</strong>, and is accessible on this
    <a href="https://github.com/bchanudet/covid-certificate-pwa">Github repository</a>. The Readme file
    will guide you if you want to download or compile the application yourself.
  </p>
  <p appIntl="home-foss-contribution">
    If you encounter a bug, feel free to file <a href="https://github.com/bchanudet/covid-certificate-pwa/issues/new/choose">a new issue.</a>
    All contributions are welcome, and most especially translations to other languages.
  </p>
</div>
<div class="panel">
  <h2>
    <span class="ti ti-user"></span>
    <span appIntl="home-authors-title">Authors & Credits</span>
  </h2>
  <dl>
    <dt>Benjamin Chanudet</dt>
    <dd appIntl="home-authors-main">
      Main developer, Logo designer, French translation. <a href="https://benjaminchanudet.com">Website</a>
    </dd>
  </dl>
  <dl>
    <dt appIntl="home-authors-tabler-title">Tabler icons project</dt>
    <dd appIntl="home-authors-tabler-desc">
      Other icons used throughout the application. <a href="https://tabler-icons.io/">Website</a>
    </dd>
  </dl>
  <dl>
    <dt appIntl="home-authors-translations-title">Other translations</dt>
    <dd appIntl="home-authors-translations-none">
      None yet. <a href="https://github.com/bchanudet/covid-certificate-pwa/wiki/Localization-Guide">Help translating in your language</a>.
    </dd>
  </dl>
</div>
<div class="panel">
  <h2>
    <span class="ti ti-info-circle"></span>
    <span appIntl="home-disclaimers-title">Disclaimers</span>
  </h2>
  <p>
    <strong appIntl="home-disclaimers-not-endorsed">This application is not endorsed by any government or official entity.</strong>
  </p>
  <p appIntl="home-disclaimers-be-wary">
    The QR Code is be sufficient to prove that you have a valid certificate, but as it's not an
    "authorized" application it may lift some eyebrows. Also please note that depending on the country
    and the place, you might need to provide also a proof of identity alongside the QR Code.
  </p>
</div>
<div class="panel">
  <h2>
    <span class="ti ti-mailbox"></span>
    <span appIntl="home-contact-title">Contact</span>
  </h2>
  <p appIntl="home-contact-email">
    Should you have any specific enquiry, you can send an email to <a href="mailto:covid-app@benjaminchanudet.com" style="white-space: nowrap;">covid-app@benjaminchanudet.com</a>.</p>
</div>