<dl *ngIf="cert">
  <dt>Firstname</dt>
  <dd>{{cert.firstname}}</dd>
  <dt>Lastname</dt>
  <dd>{{cert.lastname}}</dd>
  <dt>Date of Birth</dt>
  <dd>{{cert.date_birth}}</dd>
  <dt>Disease or agent targeted</dt>
  <dd>{{cert.disease}}
    <br><span class="raw">840539006</span>
  </dd>
  <dt>Vaccine/Prophylaxis</dt>
  <dd>{{cert.vaccine}}
    <br><span class="raw">J07BX03</span>
  </dd>
  <dd>{{cert.medicinal_product}}</dd>
  <dt>Vaccine Marketing authorisation holder or manufacturer</dt>
  <dd>
    {{cert.manufacturer}}
    <br><span class="raw">MSDL</span>
  </dd>
  <dt>Number in a series of vaccinations/doses and the overall number of doses in the series</dt>
  <dd>{{cert.number_total}}</dd>
  <dt>Date of vaccination</dt>
  <dd>{{cert.date_vaccination}}</dd>
  <dt>Member State of vaccination</dt>
  <dd>{{cert.member_state}}</dd>
  <dt>Certificate issuer</dt>
  <dd>{{cert.certificate_issuer}}</dd>
</dl>
