@mixin apply($theme){

  body{
    background-color: map-get($theme, 'background');
    color: map-get($theme, 'primary');
  }

  header, .panel{
    background-color: map-get($theme, 'panel');
  }

  .logo {
    color: map-get($theme, "accent");
  }

  h2{
    border-color: map-get($map: $theme, $key: "faded");
  }

  h3{
    color: map-get($theme, "accent");
  }

  dt{
    color: lighten(map-get($theme, "accent"), 10%);
  }

  .raw{
    color: map-get($map: $theme, $key: "faded");
  }

  button, .btn{
    color: map-get($theme, 'btn-primary');
    background-color: hsl(207, 53%, 47%);
  }
  button.cancel, .btn.cancel{
    background-color: map-get($theme, "cancel");
  }
  button.cancel:hover, .btn.cancel:hover{
    background-color: lighten(map-get($theme, "cancel"), 5%);
  }

  button.success, .btn.success{
    background-color: map-get($theme, "success");
  }
  button.success:hover, .btn.success:hover{
    background-color: lighten(map-get($theme, "success"), 5%);
  }


  .instructions {
    color: map-get($map: $theme, $key: "faded");
    font-style: italic;
  }

  li .ti {
    color: map-get($theme, "accent")
  }


}
