<div class="panel">
  <h1 appIntl="scan-title">Import a certificate</h1>
  <p class="instructions" appIntl="scan-instructions">
    Use the viewer below to scan the QR Code of your certificate.
  </p>
  <div class="scanner">
    <div *ngIf="displayMesg !== ''" class="information">
      <span class="ti ti-camera"></span><br>
      <ng-container [ngSwitch]="displayMesg">
        <p *ngSwitchCase="'permission-pending'" appIntl="scan-camera-permission">
          Please authorize the application to access the camera.
        </p>
        <p *ngSwitchCase="'permission-denied'" appIntl="scan-camera-denied">
          Access to the camera has not been authorized.
        </p>
        <p *ngSwitchCase="'camera-loading'" appIntl="scan-camera-loading">
          Camera is loading...
        </p>
      </ng-container>
    </div>
    <zxing-scanner
      [(device)]="selectedCamera"
      [ngClass]="{'hidden': displayMesg !== ''}"
      [torch]="torchEnabled"
      (torchCompatible)="onTorchCompatible($event)"
      (camerasFound)="onCamerasFound($event)"
      (permissionResponse)="onPermissionResponse($event)"
      (scanSuccess)="onCertificateFound($event)"
      [formats]="allowedFormats"
    ></zxing-scanner>
  </div>
  <div class="actions">
    <button *ngIf="hasMultipleCameras" (click)="switchCamera()">
      <span class="ti ti-refresh"></span>&nbsp;
      <span appIntl="scan-action-switch">Switch camera</span>
    </button>
    <button *ngIf="hasTorch" (click)="toggleTorch()">
      <span class="ti ti-bulb"></span>&nbsp;
      <span appIntl="scan-action-torch">Toggle torch</span>
    </button>
  </div>
  <div *ngIf="notacert">
    <p class="warning">
      <span class="ti ti-alert-circle"></span>
      <span appIntl="scan-result-invalid">
        This QR Code is not a valid Digital COVID Certificate.
        Please retry with another.
      </span>
    </p>
  </div>
  <div *ngIf="displayTest">
    <h2>Test buttons</h2>
    <p>
      <a class="btn" (click)="test(testCert.label)" *ngFor="let testCert of testCerts" style="margin-bottom: 0.2rem;">{{testCert.label}}</a>
    </p>
  </div>
</div>
