<div class="panel">
  <h1>Import a certificate</h1>
  <div *ngIf="cert$ | async as cert; else invalidCert">
    <p class="warning" *ngIf="hasAlready">
      <span class="ti ti-alert-circle"></span>
      This certificate is already part of your library! Go back to scan another one.
    </p>
    <p class="instructions" *ngIf="hasStorage; else noStorage">
      Please double-check carefully the details from the scanned certicate against those on your source material.
      If everything matches, click on "Import" at the end.
    </p>
    <ng-template #noStorage>
      <p class="warning">
        <span class="ti ti-alert-circle"></span>
        Your browser can't store data locally. You can't import the certificate but you can still check the details.
      </p>
    </ng-template>

    <app-cert-details [cert]="cert"></app-cert-details>
    <div class="buttons">
      <button class="cancel" (click)="onCancel()">
        <span class="ti ti-arrow-back"></span>
        Cancel
      </button>
      <button class="" (click)="onSubmit(cert)" [disabled]="" *ngIf="hasStorage && !hasAlready">
        <span class="ti ti-check"></span>
        Import
      </button>
    </div>
  </div>
  <ng-template #invalidCert>
    <p class="warning">
      <span class="ti ti-alert-triangle"></span>
      The QR Code you scanned seems to be corrupted. The data cannot be decoded.
    </p>
    <button routerLink="/new/scan">
      <span class="ti ti-arrow-back-up"></span>
      <span>Try again</span>
    </button>
  </ng-template>
</div>
